/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#map {
  background-image: url('https://i.pinimg.com/736x/48/09/80/480980bd6261c894beba408551783001.jpg');
  background-size: cover;
  height: 300px;
  width: auto;
}

#flat-info {
  /* flex: 1 0 auto; */
  position: absolute;
  top: -60px;
  justify
}

.parent {
  position: relative;
}

.fa-brands {
  font-size: 20px;
}

.share-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-container {
  width: 400px !important;
}
